<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/curriculo.css" />
  <title><%= title %></title>
</head>

<body>
  <main>
    <div class="menuTopButton">
      <a class="homeButton" href="/">INÍCIO</a>
      <a class="homeButton" href="/">CONTATO</a>
    </div>
    <p class="pageTitle">Bem vindo(a) ao <strong><%= title %></strong></p>
    <div class="perfilBox">
      <img class="bgPerfilBox" src="/images/imgPerfil.png" />
      <img class="photoPerfilBox" src="/images/imgPerfil.jpg" />
      </br>
      <strong class="contactSubTitle"><%= subTitleContact %></strong>
      <% contact.map(contact => { %>
      <p class="contactText"><%= contact.email %></p>
      <p class="contactText"><%= contact.cellPhone %></p>
      <% }); %>
    </div>
    <div class="curriculoBox">
      <h1><%= name %></h1>
      <p><%= profession %></p>
      <p class="description"><%= description %></p>
      <ul>
        <div>
          <strong class="subTitle"><%= subTitleSkills %></strong>
          <% skills.map(skill => { %>
          <br>
          <span><%= skill %></span>
          <% }); %>
        </div><br>
        <strong class="subTitle"><%= subTitleLinguages %></strong>
        <% linguages.map(linguages => { %>
        <li class="listStyle">
          <div>
            <span><b><%= linguages.linguage %></b></span>
            <br>
            <span><%= linguages.level %></span>
          </div>
        </li>
        <% }); %>
        <strong class="subTitle"><%= subTitleCourse %></strong>
        <% course.map(course => { %>
        <li class="listStyle">
          <div>
            <span><b><%= course.skill %></b></span>
            <br>
            <span><%= course.institution %></span>
            <br>
            <span><%= course.finishedIn %></span>
          </div>
        </li>
        <% }); %>
      </ul>
      <ul>
        <strong class="subTitle"><%= subTitleEducation %></strong>
        <% education.map(education => { %>
        <li class="listStyle">
          <div>
            <span><b><%= education.description %></b></span>
            <br>
            <span><%= education.institution %></span>
            <br>
            <span><%= education.finishedIn %></span>
          </div>
        </li>
        <% }); %>
      </ul>
      <strong class="subTitle"><%= subTitleAdress %></strong>
      <% adress.map(adress => { %>
      <p><b><%= adress.locate %></b></p>
      <p><%= adress.street %></p>
      <p><%= adress.bairro %></p>
      <p><%= adress.CEP %></p>
      <% }); %>
    </div>
  </main>
</body>

</html>