  <link rel="stylesheet" href="/styles/estudos.css" />
  <link rel="stylesheet" href="/styles/menuEstudos.css" />
   <main>
    <p class="pageTitle">Bem vindo(a) aos meus <strong>Estudos pessoais</strong></p>
    <div class="studyContainer">
      <!-- Menu Estudos -->
      <div class="studyMenuContainer">
       <!--Simbolo do Menu (3 riscos)-->
      <input type="checkbox" id="miniMenu">
      <label for="miniMenu">&#9776; Menu</label>
      <nav class="menuEstudos">
        <ul class="menuEstudosList">
          <li class="menuEstudosButton"><a class="menuEstudosLink" href="/estudos/exercicios">EXERCÍCIOS</a></li>
          <li class="menuEstudosButton"><a class="menuEstudosLink" href="anotacoes">ANOTAÇÕES</a class="menuEstudosLink"></li>
          <li class="menuEstudosButton"><a class="menuEstudosLink" href="/estudos/tutoriais">TUTORIAIS</a class="menuEstudosLink"></li class="menuEstudosButton">
          <li class="menuEstudosButton"><a class="menuEstudosLink" href="/estudos/aulas">AULAS</a class="menuEstudosLink"></li class="menuEstudosButton">
          <li class="menuEstudosButton"><a class="menuEstudosLink" href="/estudos/links-uteis">LINKS ÚTEIS</a class="menuEstudosLink"></li class="menuEstudosButton">
        </ul>
      </nav>
      </div>
      <!-- Info Exercícios -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Exercícios</h2>
        <p class="studyInfoContent">Estes são exercícios que pratico para me ajudarem a memorizar as sintaxe e suas
          respectivas funções.</p>
        <div class="studyInfoBoxContainer">
          {{#each infoBoxExercicios}}
          <a href="{{this.link}}" target="_blank">
            <div class="studyInfoBox">
              <p class="studyInfoBoxTitle">{{this.title}}</p>
              <img class="studyInfoBoxImage" src="{{this.imageSrc}}" />
              <p class="studyInfoBoxLinkAddress">{{this.linkAddress}}</p>
              <p class="studyInfoBoxContent">{{this.content}}</p>
            </div>
          </a>
          {{/each}}
        </div>
        <div class="studyInfoFooterContainer">
          <a href="/estudos/exercicios">
            <div class="studyInfoFooterButton">VER MAIS</div>
          </a>
        </div>
      </div>
      <!-- Info Anotações -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Anotações</h2>
        <p class="studyInfoContent">Estas são anotações que faço sobre o que eu estiver estudando no momento. Estas
          anotações sempre são
          atualizadas com novos conteúdos a medida que vou aprendendo.</p>
        <div class="studyInfoBoxContainer">
            {{#each infoBoxAnotacoes}}
              <a href="{{this.link}}" target="_blank">
                <div class="studyInfoBox">
                  <p class="studyInfoBoxTitle">{{this.title}}</p>
                  <img class="studyInfoBoxImage" src="{{this.imageSrc}}" />
                  <p class="studyInfoBoxLinkAddress">{{this.linkAddress}}</p>
                  <p class="studyInfoBoxContent">{{this.content}}</p>
                </div>
              </a>
            {{/each}}
        </div>
        <div class="studyInfoFooterContainer">
          <a href="/estudos/anotacoes">
            <div class="studyInfoFooterButton">VER MAIS</div>
          </a>
        </div>
      </div>
      <!-- Info Tutoriais -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Tutoriais</h2>
        <p class="studyInfoContent">Sites que oferencem ensinamentos e exercícios praticos.</p>
        <div class="studyInfoBoxContainer">
         {{#each infoBoxTutoriais}}
          <a href="{{this.link}}" target="_blank">
            <div class="studyInfoBox">
              <p class="studyInfoBoxTitle">{{this.title}}</p>
              <img class="studyInfoBoxImage" src="{{this.imageSrc}}" />
              <p class="studyInfoBoxLinkAddress">{{this.linkAddress}}</p>
              <p class="studyInfoBoxContent">{{this.content}}</p>
            </div>
          </a>
         {{/each}}
        </div>
        <div class="studyInfoFooterContainer">
          <a href="/estudos/tutoriais">
            <div class="studyInfoFooterButton">VER MAIS</div>
          </a>
        </div>
      </div>
      <!-- Info Aulas -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Aulas</h2>
        <p class="studyInfoContent">Estes são vídeos que me ajudaram a aprender de uma forma clara a respeito de
          diversos assuntos relacionado a programação.</p>
          <div class="studyInfoBoxContainer">
              {{#each infoBoxAulas}}
                <a href="{{this.link}}" target="_blank">
                  <div class="studyInfoBox">
                    <p class="studyInfoBoxTitle">{{this.title}}</p>
                    <p class="studyInfoBoxDifficult">{{this.difficult}}</p>
                    <img class="studyInfoBoxImage" src="{{this.imageSrc}}" />
                    <p class="studyInfoBoxLinkAddress">{{this.linkAddress}}</p>
                    <p class="studyInfoBoxContent">{{this.content}}</p>
                  </div>
                </a>
                {{/each}}
          </div>
          <div class="studyInfoFooterContainer">
            <a href="/estudos/aulas">
              <div class="studyInfoFooterButton">VER MAIS</div>
            </a>
          </div>
      </div>
      <!-- Info Links Úteis -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Links Úteis</h2>
        <p class="studyInfoContent">Links que são ótimos para pesquisas, estudos e outras funcionalidades.</p>
      </div>
      
    </div>
  </main>